<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" 
"http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

    <bean id="triangolo"   class="primo.esempio.Triangolo">
    
           <!-- Modo per settare l'attributo 'nome' della classe Triangolo-->
           <property name="nome" value="Equilatero" /> 

           <!-- Modo per settare due attributi della classe Triangolo utilizzando il costruttore.
           Con index=0 prendo il primo attributo
           Con index=1 prendo il secondo attributo-->
<!--       <constructor-arg   index="0" value="Equilaterale"/> -->
<!--       <constructor-arg   index="1"  value="20"/> -->
    </bean> 

         
</beans>