<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" 
"http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
<bean id="triangolo"   class="terzo.esempio.Triangolo">

           <!-- Voglio inizializzare la lista punti che ho nellaclasse Triangolo -->     
           <property name="punti">
              
                <list>
                <!-- Qui inserisco i punti che devo aver già definito sotto -->
                    <ref bean="p2" />
                    <ref bean="p1" />
                </list>
   
            </property>
                
          </bean>
          
          
          
            <bean id="p1"   class="terzo.esempio.Punto">
            
               <property name="x" value="10"></property>
               <property name="y" value="10"></property>
          
            </bean>
            
               <bean id="p2"   class="terzo.esempio.Punto">
            
               <property name="x" value="20"></property>
               <property name="y" value="20"></property>
          
            </bean>
            
               <bean id="p3"   class="terzo.esempio.Punto">
            
               <property name="x" value="30"></property>
               <property name="y" value="30"></property>
          
            </bean>

                </beans>